
@mixin display($items:center, $space:space-between,$gap:0px) {
    display: flex;
    align-items: $items;
    justify-content: $space;
    gap: $gap;
}


@mixin textStyle ($clr, $fs, $fw, $lh, $ls,$tt,$mb){
    margin-bottom:$mb;
    color: $clr;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lh;
    letter-spacing: $ls;
    text-transform: $tt;
}
@mixin btnStyle($btnw, $padding, $bgbtn, $btnclr, $btnFS, $btnFW, $btnLH, $btnLS,$btnCase, $btnMB: 0px,){
    width: $btnw ;
    padding: $padding 0;
    border-radius: 8px;
    border: 1px solid $clr-orange;
    text-align: center;
    background-color: $bgbtn;
    @include textStyle ($clr:$btnclr, $fs:$btnFS, $fw:$btnFW, $lh:$btnLH, $ls:$btnLS,$tt:$btnCase, $mb:$btnMB);

}